html {
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar */
#nav-bar {
    display: flex;
    background-color: #303030;
    height: 80px;
}

#nav-bar img {
    height: 70px;
    margin: 5px;
}

#nav-bar button {
    margin: 20px;
    min-width: 80px;
}

/* Body */
#body {
    margin: 10px;
}