html {
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar */
#nav-bar {
    background-color: #303030;
    height: 80px;
    overflow: hidden;
}

#nav-bar img {
    height: 70px;
    margin: 5px;
}

#nav-bar a {
    float: left;
}

#nav-bar button {
    margin: 20px;
    min-width: 80px;
    height: 40px;
}

#nav-bar a.right {
    float: right;
}

#nav-bar a.empty {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    text-decoration: none;
    margin: 20px;
    height: 40px;
    line-height: 40px;
}

#nav-bar a.empty:hover {
    color: rgb(205, 205, 205);
    font-size: 21px;
}

/* Body */
#body {
    margin: 10px;
}