{% extends 'layout.html' %}
{% load static %}
{% load index %}

{% block head %}
<script src="{% static 'events/form.js' %}"></script>
{% endblock head %}

{% block body %}
    <h1>Event Request Form</h1>

    <p><i>All time zones must be in Central European Time.</i><p>

    {% if error %}
        {{ error }}
    {% endif %}

    <form action="{% url 'events:form' %}" class="pure-form" method="post">
        {% csrf_token %}
        <div id="input">
            <label for="first">First Name</label>
            <input type="text" name="first" placeholder="First Name" value="{{ form.first }}" required>
    
            <label for="last">Last Name</label>
            <input type="text" name="last" placeholder="Last Name" value="{{ form.last }}" required>
    
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" value="{{ form.email }}" required>
    
    
            <label for="title">Event Title</label>
            <input type="text" name="title" placeholder="Title of the Event" value="{{ form.title }}" required>

            <label for="category">Category</label>
            <select name="category">
                {% for category in category_choices %}
                    <option value="{{ category.0 }}" {% if form.category == category.0 %}selected{% endif %}>{{ category.1 }}</option>
                {% endfor %}
            </select>

            <!--TODO: Possibly replace -->
            <label for="location">Location</label>
            <input type="text" list="datalist-location-options" name="location" value="{{ form.location }}" required>
            <datalist id="datalist-location-options">
                <option>Large Aula</option>
                <option>Small Aula</option>
            </datalist>


        </div>

        <hr>

        <div id="rehearsals">
            <template>
                <div class="rehearsal">
                    <h5>Rehearsal 1</h5>
    
                    <label for="rehearsal-date">Date</label>
                    <input type="date" name="rehearsal-date" required>
    
                    <label for="rehearsal-time">Time</label>
                    <input type="time" name="rehearsal-time" required>

                    <label for="rehearsal-duration">Duration</label>
                    <input type="time" name="rehearsal-duration" required>
                </div>
            </template>

            {% for rehearsal in 'x'|ljust:form.rehearsal_count %}
                <div class="rehearsal">
                    <h5>Rehearsal {{ forloop.counter }}</h5>

                    <label for="rehearsal-date">Date</label>
                    <input type="date" name="rehearsal-date" value="{{ form.rehearsal_date|index:forloop.counter0 }}" required>

                    <label for="rehearsal-time">Time</label>
                    <input type="time" name="rehearsal-time" value="{{ form.rehearsal_time|index:forloop.counter0 }}" required>

                    <label for="rehearsal-duration">Duration</label>
                    <input type="time" name="rehearsal-duration" value="{{ form.rehearsal_duration|index:forloop.counter0 }}" required>
                </div>
            {% endfor %}
            
        </div>

        <button class="pure-button" id="add-rehearsal-button">Add Rehearsal</button>
        <button class="pure-button" id="remove-rehearsal-button" disabled>Remove Rehearsal</button>

        <hr>

        <div id="performances">
            <template>
                <div class="performance">
                    <h5>Performance 1</h5>
    
                    <label for="performance-date">Date</label>
                    <input type="date" name="performance-date" required>
    
                    <label for="performance-time">Time</label>
                    <input type="time" name="performance-time" required>

                    <label for="performance-duration">Duration</label>
                    <input type="time" name="performance-duration" required>
                </div>
            </template>

            {% for performance in 'x'|ljust:form.performance_count %}
                <div class="performance">
                    <h5>Performance {{ forloop.counter }}</h5>

                    <label for="performance-date">Date</label>
                    <input type="date" name="performance-date" value="{{ form.performance_date|index:forloop.counter0 }}" required>

                    <label for="performance-time">Time</label>
                    <input type="time" name="performance-time" value="{{ form.performance_time|index:forloop.counter0 }}" required>

                    <label for="performance-duration">Duration</label>
                    <input type="time" name="performance-duration" value="{{ form.performance_duration|index:forloop.counter0 }}" required>
                </div>
            {% endfor %}

        </div>

        <button class="pure-button" id="add-performance-button">Add Performance</button>
        <button class="pure-button" id="remove-performance-button" disabled>Remove Performance</button>

        <hr>

        <button type="submit" class="pure-button pure-button-primary">Register Event</button>
    </form>
{% endblock body %}