div#removal-warning {
    margin: auto;
    background-color: #fff;
    height: 200px;
    width: 400px;
    box-shadow: 0 0 25px -3px rgba(125, 125, 125, 1);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

div#removal-warning button {
    margin: 10px 30px;
}


/* Mobile responsive */
@media (max-width: 500px) {
    thead {
        display: none;
    }

    td,
    th {
        display: block;
    }

    td[data-th]:before {
        content: attr(data-th);
    }
}