{% extends 'layout.html' %}
{% load static %}

{% block body %}
<div>
    <h1>Log In</h1>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    
        <form class="pure-form" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <label for="email">Email</label>
            <input autofocus type="email" name="email" placeholder="Email" />
      
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" />
      
            <button type="submit" class="pure-button pure-button-primary">Log In</button>
          </form>
    
        <br>
</div>
{% endblock body %}