{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock head %}

{% block body %}
<div>
    <h1>Log In</h1>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    
        <form class="pure-form" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input autofocus type="text" name="username" placeholder="Username" />
      
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" />
      
            <button type="submit" class="pure-button pure-button-primary">Log In</button>
          </form>
    
        <br>
    
        Don't have an account? <a href="{% url 'users:register' %}">Register here.</a>
</div>
{% endblock body %}