{% extends 'layout.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'users/styles.css' %}" />
{% endblock %}

{% block body %}
  <div>
    <h1>Register</h1>

    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <form class="pure-form" action="{% url 'users:register' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="" autocomplete="off">

      <label for="new-username">Username</label>
      <input autofocus type="text" name="new-username" placeholder="Username" />

      <label for="new-email">Email</label>
      <input autofocus type="email" name="new-email" placeholder="Email" />

      <label for="new-password">Password</label>
      <input type="password" name="new-password" placeholder="Password" />

      <label for="new-password-confirmation">Confirm Password</label>
      <input type="password" name="new-password-confirmation" placeholder="Confirm Password" />

      <button type="submit" class="pure-button pure-button-primary">Register</button>
    </form>

    <br />
    
    Already have an account? <a href="{% url 'users:login' %}">Log in here.</a>
  </div>
{% endblock %}
