{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'users/user_list.css' %}">
<script src="{% static 'users/user_list.js' %}"></script>

<template id="removal-warning-template">
    <div id="removal-warning">
        <h1>Are you sure?</h1>
        <p>Removing this user causes them to lose all of their data. Are you sure you would like to remove this user?</p>
        <button class="pure-button yes">I'm Sure</button>
        <button class="pure-button no" autofocus>Cancel</button>
    </div>
</template>
{% endblock head %}

{% block body %}
<h1>User List</h1>

<div>To activate an account, the user must log in with their email and the password 'firstname.lastname' all lowercase.</div>

<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Unique Role</th>
            <th>Common Role</th>
            <th>Activated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td data-th="ID: ">{{ user.id }}</td>
                <td data-th="First Name: ">{{ user.first_name }}</td>
                <td data-th="Last Name: ">{{ user.last_name }}</td>
                <td data-th="Email: ">{{ user.email }}</td>
                <td data-th="Unique Role: ">{{ user.get_unique_role_display }}</td>
                <td data-th="Common Role: ">{{ user.get_common_role_display }}</td>
                <td data-th="Activated: ">{% if user.activated %}Yes{% else %}No{% endif %}</td>
                <td><button data-id="{{ user.id }}" class="remove-button pure-button">Remove User</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'users:create_account' %}"><button class="pure-button">Add Account</button></a>

{% endblock body %}