body {
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 70px;
    padding: 30px 10px;
}

h2 {
    font-size: 50px;
    font-weight: 300;
}

h3 {
    font-size: 35px;
    font-weight: 250;
    color: #d3d3d3;
    margin-top: -40px;
}